fake-useragent
aiogram~=3.20.0
pydantic~=2.9.2
pydantic-settings~=2.8.1
torch~=2.7.1
nltk~=3.9.1
tqdm~=4.67.1
pandas~=2.3.0
tiktoken~=0.11.0
scikit-learn~=1.7.0
pymorphy3~=2.0.4
requests~=2.32.4
beautifulsoup4~=4.13.4
swifter~=1.4.0